@-webkit-keyframes spinner /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes spinner {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
.spinner {
  -webkit-animation: spinner 2s linear infinite;
  -moz-animation: spinner 2s linear infinite;
  -ms-animation: spinner 2s linear infinite;
  -o-animation: spinner 2s linear infinite;
  animation: spinner 2s linear infinite; }

body.neo-styles {
  margin: 0;
  padding: 0;
  /* Progress Bar */
  /* Tool Tips */ }
  body.neo-styles p, body.neo-styles ul {
    margin: 0;
    padding: 0; }
  body.neo-styles i {
    height: 1.2em !important;
    width: 1em !important;
    display: flex;
    justify-content: center;
    align-items: center; }
  body.neo-styles a {
    text-decoration: none; }
  body.neo-styles .hidden {
    display: none; }
  body.neo-styles .rtl {
    direction: rtl; }
  body.neo-styles .ltr {
    direction: ltr; }
  body.neo-styles .light-shadow {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.12); }
  body.neo-styles .flex {
    display: flex; }
  body.neo-styles .align-center {
    align-items: center; }
  body.neo-styles .align-start {
    align-items: flex-start; }
  body.neo-styles .align-end {
    align-items: flex-end; }
  body.neo-styles .align-stretch {
    align-items: stretch; }
  body.neo-styles .justify-center {
    justify-content: center; }
  body.neo-styles .justify-start {
    justify-content: flex-start; }
  body.neo-styles .justify-end {
    justify-content: flex-end; }
  body.neo-styles .justify-space-around {
    justify-content: space-around; }
  body.neo-styles .justify-space-between {
    justify-content: space-between; }
  body.neo-styles .flex-wrap {
    flex-wrap: wrap; }
  body.neo-styles .align-content-center {
    align-content: center; }
  body.neo-styles .align-content-stretch {
    align-content: stretch; }
  body.neo-styles .align-content-end {
    align-content: flex-end; }
  body.neo-styles .align-content-start {
    align-content: flex-start; }
  body.neo-styles .relative {
    position: relative; }
  body.neo-styles .absolute {
    position: absolute; }
  body.neo-styles .fixed {
    position: fixed; }
  body.neo-styles .cursor-pointer {
    cursor: pointer; }
  body.neo-styles .text-center {
    text-align: center; }
  body.neo-styles .text-right {
    text-align: right; }
  body.neo-styles .text-left {
    text-align: left; }
  body.neo-styles .line {
    width: 100%;
    margin: 10px 0 10px 0;
    border-bottom: 1px solid lightgrey; }
    body.neo-styles .line.dashed {
      border-bottom: 1px dashed lightgrey; }
  @media screen and (min-width: 1025px) {
    body.neo-styles .hide-normal {
      display: none; } }
  body.neo-styles .neo-progress-infinite {
    width: 100%;
    position: fixed;
    height: 10px;
    top: 0;
    bottom: 0;
    z-index: 100;
    display: none; }
    body.neo-styles .neo-progress-infinite.active {
      display: block; }
    body.neo-styles .neo-progress-infinite .progress {
      position: relative;
      height: 4px;
      display: block;
      width: 100%;
      background-color: #b385ff;
      border-radius: 2px;
      background-clip: padding-box;
      overflow: hidden; }
    body.neo-styles .neo-progress-infinite .progress .determinate {
      position: absolute;
      top: 0;
      bottom: 0;
      background-color: #5408d1;
      transition: width .3s linear; }
    body.neo-styles .neo-progress-infinite .progress .indeterminate {
      background-color: #5408d1; }
    body.neo-styles .neo-progress-infinite .progress .indeterminate:before {
      content: '';
      position: absolute;
      background-color: inherit;
      top: 0;
      left: 0;
      bottom: 0;
      will-change: left, right;
      -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
      animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite; }
    body.neo-styles .neo-progress-infinite .progress .indeterminate:after {
      content: '';
      position: absolute;
      background-color: inherit;
      top: 0;
      left: 0;
      bottom: 0;
      will-change: left, right;
      -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
      animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
      -webkit-animation-delay: 1.15s;
      animation-delay: 1.15s; }
@-webkit-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; } }
@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; } }
@-webkit-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%; }
  60% {
    left: 107%;
    right: -8%; }
  100% {
    left: 107%;
    right: -8%; } }
@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%; }
  60% {
    left: 107%;
    right: -8%; }
  100% {
    left: 107%;
    right: -8%; } }
  body.neo-styles .tool-tip {
    display: inline-block;
    clear: both;
    float: left;
    position: absolute;
    z-index: 104;
    top: 200px;
    background-color: darkblue;
    border-radius: 5px;
    font-size: 11px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 8px; }
    body.neo-styles .tool-tip .holder {
      width: 100%;
      position: relative; }
      body.neo-styles .tool-tip .holder span {
        width: 0;
        height: 0;
        position: absolute;
        top: -15px;
        left: calc(50% - 8px);
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 12px solid darkblue; }
  body.neo-styles .row {
    width: 100%; }
  body.neo-styles .normal-hide {
    display: none; }
  body.neo-styles .col {
    box-sizing: border-box; }
    body.neo-styles .col.padding {
      padding: 10px; }
    body.neo-styles .col.col-1 {
      width: 8.333333%;
      max-width: 8.333333%; }
    body.neo-styles .col.col-2 {
      width: 16.666667%;
      max-width: 16.666667%; }
    body.neo-styles .col.col-3 {
      width: 25%;
      max-width: 25%; }
    body.neo-styles .col.col-4 {
      width: 33.333333%;
      max-width: 33.333333%; }
    body.neo-styles .col.col-5 {
      width: 41.666667%;
      max-width: 41.666667%; }
    body.neo-styles .col.col-6 {
      width: 50%;
      max-width: 50%; }
    body.neo-styles .col.col-7 {
      width: 58.333333%;
      max-width: 58.333333%; }
    body.neo-styles .col.col-8 {
      width: 66.666667%;
      max-width: 66.666667%; }
    body.neo-styles .col.col-9 {
      width: 75%;
      max-width: 75%; }
    body.neo-styles .col.col-10 {
      width: 83.333333%;
      max-width: 83.333333%; }
    body.neo-styles .col.col-11 {
      width: 91.666667%;
      max-width: 91.666667%; }
    body.neo-styles .col.col-12 {
      width: 100%;
      max-width: 100%; }
  @media screen and (max-width: 1366px) {
    body.neo-styles .large-hide {
      display: none; }
    body.neo-styles .col.col-l-1 {
      width: 8.333333%;
      max-width: 8.333333%; }
    body.neo-styles .col.col-l-2 {
      width: 16.666667%;
      max-width: 16.666667%; }
    body.neo-styles .col.col-l-3 {
      width: 25%;
      max-width: 25%; }
    body.neo-styles .col.col-l-4 {
      width: 33.333333%;
      max-width: 33.333333%; }
    body.neo-styles .col.col-l-5 {
      width: 41.666667%;
      max-width: 41.666667%; }
    body.neo-styles .col.col-l-6 {
      width: 50%;
      max-width: 50%; }
    body.neo-styles .col.col-l-7 {
      width: 58.333333%;
      max-width: 58.333333%; }
    body.neo-styles .col.col-l-8 {
      width: 66.666667%;
      max-width: 66.666667%; }
    body.neo-styles .col.col-l-9 {
      width: 75%;
      max-width: 75%; }
    body.neo-styles .col.col-l-10 {
      width: 83.333333%;
      max-width: 83.333333%; }
    body.neo-styles .col.col-l-11 {
      width: 91.666667%;
      max-width: 91.666667%; }
    body.neo-styles .col.col-l-12 {
      width: 100%;
      max-width: 100%; } }
  @media screen and (max-width: 1024px) {
    body.neo-styles .medium-hide {
      display: none; }
    body.neo-styles .col.col-m-1 {
      width: 8.333333%;
      max-width: 8.333333%; }
    body.neo-styles .col.col-m-2 {
      width: 16.666667%;
      max-width: 16.666667%; }
    body.neo-styles .col.col-m-3 {
      width: 25%;
      max-width: 25%; }
    body.neo-styles .col.col-m-4 {
      width: 33.333333%;
      max-width: 33.333333%; }
    body.neo-styles .col.col-m-5 {
      width: 41.666667%;
      max-width: 41.666667%; }
    body.neo-styles .col.col-m-6 {
      width: 50%;
      max-width: 50%; }
    body.neo-styles .col.col-m-7 {
      width: 58.333333%;
      max-width: 58.333333%; }
    body.neo-styles .col.col-m-8 {
      width: 66.666667%;
      max-width: 66.666667%; }
    body.neo-styles .col.col-m-9 {
      width: 75%;
      max-width: 75%; }
    body.neo-styles .col.col-m-10 {
      width: 83.333333%;
      max-width: 83.333333%; }
    body.neo-styles .col.col-m-11 {
      width: 91.666667%;
      max-width: 91.666667%; }
    body.neo-styles .col.col-m-12 {
      width: 100%;
      max-width: 100%; } }
  @media screen and (max-width: 768px) {
    body.neo-styles .tablet-hide {
      display: none; }
    body.neo-styles .col.col-t-1 {
      width: 8.333333%;
      max-width: 8.333333%; }
    body.neo-styles .col.col-t-2 {
      width: 16.666667%;
      max-width: 16.666667%; }
    body.neo-styles .col.col-t-3 {
      width: 25%;
      max-width: 25%; }
    body.neo-styles .col.col-t-4 {
      width: 33.333333%;
      max-width: 33.333333%; }
    body.neo-styles .col.col-t-5 {
      width: 41.666667%;
      max-width: 41.666667%; }
    body.neo-styles .col.col-t-6 {
      width: 50%;
      max-width: 50%; }
    body.neo-styles .col.col-t-7 {
      width: 58.333333%;
      max-width: 58.333333%; }
    body.neo-styles .col.col-t-8 {
      width: 66.666667%;
      max-width: 66.666667%; }
    body.neo-styles .col.col-t-9 {
      width: 75%;
      max-width: 75%; }
    body.neo-styles .col.col-t-10 {
      width: 83.333333%;
      max-width: 83.333333%; }
    body.neo-styles .col.col-t-11 {
      width: 91.666667%;
      max-width: 91.666667%; }
    body.neo-styles .col.col-t-12 {
      width: 100%;
      max-width: 100%; } }
  @media screen and (max-width: 560px) {
    body.neo-styles .small-hide {
      display: none; }
    body.neo-styles .col.col-s-1 {
      width: 8.333333%;
      max-width: 8.333333%; }
    body.neo-styles .col.col-s-2 {
      width: 16.666667%;
      max-width: 16.666667%; }
    body.neo-styles .col.col-s-3 {
      width: 25%;
      max-width: 25%; }
    body.neo-styles .col.col-s-4 {
      width: 33.333333%;
      max-width: 33.333333%; }
    body.neo-styles .col.col-s-5 {
      width: 41.666667%;
      max-width: 41.666667%; }
    body.neo-styles .col.col-s-6 {
      width: 50%;
      max-width: 50%; }
    body.neo-styles .col.col-s-7 {
      width: 58.333333%;
      max-width: 58.333333%; }
    body.neo-styles .col.col-s-8 {
      width: 66.666667%;
      max-width: 66.666667%; }
    body.neo-styles .col.col-s-9 {
      width: 75%;
      max-width: 75%; }
    body.neo-styles .col.col-s-10 {
      width: 83.333333%;
      max-width: 83.333333%; }
    body.neo-styles .col.col-s-11 {
      width: 91.666667%;
      max-width: 91.666667%; }
    body.neo-styles .col.col-s-12 {
      width: 100%;
      max-width: 100%; } }

/*# sourceMappingURL=base.css.map */
