@charset "UTF-8";

@font-face {
  font-family: "neotis-line";
  src:url("fonts/neotis-line.eot");
  src:url("fonts/neotis-line.eot?#iefix") format("embedded-opentype"),
    url("fonts/neotis-line.woff") format("woff"),
    url("fonts/neotis-line.ttf") format("truetype"),
    url("fonts/neotis-line.svg#neotis-line") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "neotis-line" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="neo-"]:before,
[class*=" neo-"]:before {
  font-family: "neotis-line" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.neo-pointers-add:before {
  content: "\61";
}
.neo-pointers-cancel:before {
  content: "\62";
}
.neo-pointers-confirm:before {
  content: "\63";
}
.neo-pointers-delete:before {
  content: "\64";
}
.neo-pointers-diagonal:before {
  content: "\65";
}
.neo-pointers-double:before {
  content: "\66";
}
.neo-pointers-down:before {
  content: "\67";
}
.neo-pointers-expand:before {
  content: "\68";
}
.neo-pointers-extract:before {
  content: "\69";
}
.neo-pointers-insert:before {
  content: "\6a";
}
.neo-pointers-left:before {
  content: "\6b";
}
.neo-pointers-minimize:before {
  content: "\6c";
}
.neo-pointers-move:before {
  content: "\6d";
}
.neo-pointers-refresh:before {
  content: "\6e";
}
.neo-pointers-repeat:before {
  content: "\6f";
}
.neo-pointers-resize:before {
  content: "\70";
}
.neo-pointers-right:before {
  content: "\71";
}
.neo-pointers-rotate:before {
  content: "\72";
}
.neo-pointers-shuffle:before {
  content: "\73";
}
.neo-pointers-transfer:before {
  content: "\74";
}
.neo-pointers-turn:before {
  content: "\75";
}
.neo-pointers-up:before {
  content: "\76";
}
.neo-pointers-upload:before {
  content: "\77";
}
.neo-back:before {
  content: "\78";
}
.neo-buttons:before {
  content: "\79";
}
.neo-chart:before {
  content: "\7a";
}
.neo-home:before {
  content: "\41";
}
.neo-menu-1:before {
  content: "\42";
}
.neo-team:before {
  content: "\44";
}
.neo-basic-add:before {
  content: "\45";
}
.neo-basic-aeroplane:before {
  content: "\46";
}
.neo-basic-alarm:before {
  content: "\47";
}
.neo-basic-analytics:before {
  content: "\48";
}
.neo-basic-anchor:before {
  content: "\49";
}
.neo-basic-arroba:before {
  content: "\4a";
}
.neo-basic-bar:before {
  content: "\4b";
}
.neo-basic-battery:before {
  content: "\4c";
}
.neo-basic-birthday:before {
  content: "\4d";
}
.neo-basic-book:before {
  content: "\4e";
}
.neo-basic-bookmark:before {
  content: "\4f";
}
.neo-basic-briefcase:before {
  content: "\50";
}
.neo-basic-broken:before {
  content: "\51";
}
.neo-basic-browser:before {
  content: "\52";
}
.neo-basic-bug:before {
  content: "\53";
}
.neo-basic-calculator:before {
  content: "\54";
}
.neo-basic-calendar:before {
  content: "\55";
}
.neo-basic-cancel:before {
  content: "\56";
}
.neo-basic-car:before {
  content: "\57";
}
.neo-basic-cassette:before {
  content: "\58";
}
.neo-basic-chat:before {
  content: "\59";
}
.neo-basic-check:before {
  content: "\5a";
}
.neo-basic-clapperboard:before {
  content: "\30";
}
.neo-basic-clipboard:before {
  content: "\31";
}
.neo-basic-cloud:before {
  content: "\32";
}
.neo-basic-coding:before {
  content: "\33";
}
.neo-basic-coffee:before {
  content: "\34";
}
.neo-basic-compact:before {
  content: "\35";
}
.neo-basic-compass:before {
  content: "\36";
}
.neo-basic-computing:before {
  content: "\37";
}
.neo-basic-credit:before {
  content: "\38";
}
.neo-basic-crop:before {
  content: "\39";
}
.neo-basic-cube:before {
  content: "\21";
}
.neo-basic-cursor:before {
  content: "\22";
}
.neo-basic-cut:before {
  content: "\23";
}
.neo-basic-diamond:before {
  content: "\24";
}
.neo-basic-dice:before {
  content: "\25";
}
.neo-basic-diskette:before {
  content: "\26";
}
.neo-basic-dislike:before {
  content: "\27";
}
.neo-basic-dollar:before {
  content: "\28";
}
.neo-basic-door:before {
  content: "\29";
}
.neo-basic-download:before {
  content: "\2a";
}
.neo-basic-eject:before {
  content: "\2b";
}
.neo-basic-email:before {
  content: "\2c";
}
.neo-basic-eyeglasses:before {
  content: "\2d";
}
.neo-basic-file:before {
  content: "\2e";
}
.neo-basic-fingerprint:before {
  content: "\2f";
}
.neo-basic-flag:before {
  content: "\3a";
}
.neo-basic-flash:before {
  content: "\3b";
}
.neo-basic-flashlight:before {
  content: "\3c";
}
.neo-basic-flowchart:before {
  content: "\3d";
}
.neo-basic-folder:before {
  content: "\3e";
}
.neo-basic-gift:before {
  content: "\3f";
}
.neo-basic-handshake:before {
  content: "\40";
}
.neo-basic-hard:before {
  content: "\5b";
}
.neo-basic-heart:before {
  content: "\5d";
}
.neo-basic-help:before {
  content: "\5e";
}
.neo-basic-home:before {
  content: "\5f";
}
.neo-basic-hourglass:before {
  content: "\60";
}
.neo-basic-idea:before {
  content: "\7b";
}
.neo-basic-inbox:before {
  content: "\7c";
}
.neo-basic-information:before {
  content: "\7d";
}
.neo-basic-karaoke:before {
  content: "\7e";
}
.neo-basic-key:before {
  content: "\5c";
}
.neo-basic-keyboard:before {
  content: "\e000";
}
.neo-basic-laptop:before {
  content: "\e001";
}
.neo-basic-layers:before {
  content: "\e002";
}
.neo-basic-leaf:before {
  content: "\e003";
}
.neo-basic-left:before {
  content: "\e004";
}
.neo-basic-levels:before {
  content: "\e005";
}
.neo-basic-lifesaver:before {
  content: "\e006";
}
.neo-basic-like:before {
  content: "\e007";
}
.neo-basic-link:before {
  content: "\e008";
}
.neo-basic-list:before {
  content: "\e009";
}
.neo-basic-login:before {
  content: "\e00a";
}
.neo-basic-logout:before {
  content: "\e00b";
}
.neo-basic-loupe:before {
  content: "\e00c";
}
.neo-basic-magnet:before {
  content: "\e00d";
}
.neo-basic-mailbox:before {
  content: "\e00e";
}
.neo-basic-man:before {
  content: "\e00f";
}
.neo-basic-map:before {
  content: "\e010";
}
.neo-basic-maximize:before {
  content: "\e011";
}
.neo-basic-medal:before {
  content: "\e012";
}
.neo-basic-megaphone:before {
  content: "\e013";
}
.neo-basic-menu:before {
  content: "\e014";
}
.neo-basic-microphone:before {
  content: "\e015";
}
.neo-basic-minimize:before {
  content: "\e016";
}
.neo-basic-monitor:before {
  content: "\e017";
}
.neo-basic-more:before {
  content: "\e018";
}
.neo-basic-mouse:before {
  content: "\e019";
}
.neo-basic-mute:before {
  content: "\e01a";
}
.neo-basic-network:before {
  content: "\e01b";
}
.neo-basic-newspaper:before {
  content: "\e01c";
}
.neo-basic-next:before {
  content: "\e01d";
}
.neo-basic-no:before {
  content: "\e01e";
}
.neo-basic-notebook:before {
  content: "\e01f";
}
.neo-basic-notification:before {
  content: "\e020";
}
.neo-basic-package:before {
  content: "\e021";
}
.neo-basic-padlock:before {
  content: "\e022";
}
.neo-basic-paint:before {
  content: "\e023";
}
.neo-basic-panel:before {
  content: "\e024";
}
.neo-basic-paperclip:before {
  content: "\e025";
}
.neo-basic-pause:before {
  content: "\e026";
}
.neo-basic-pencil:before {
  content: "\e027";
}
.neo-basic-percentage:before {
  content: "\e028";
}
.neo-basic-photo:before {
  content: "\e029";
}
.neo-basic-picture:before {
  content: "\e02a";
}
.neo-basic-pie:before {
  content: "\e02b";
}
.neo-basic-pin:before {
  content: "\e02c";
}
.neo-basic-placeholder:before {
  content: "\e02d";
}
.neo-basic-planet:before {
  content: "\e02e";
}
.neo-basic-play:before {
  content: "\e02f";
}
.neo-basic-plug:before {
  content: "\e030";
}
.neo-basic-power:before {
  content: "\e031";
}
.neo-basic-presentation:before {
  content: "\e032";
}
.neo-basic-previous:before {
  content: "\e033";
}
.neo-basic-price:before {
  content: "\e034";
}
.neo-basic-printer:before {
  content: "\e035";
}
.neo-basic-profits:before {
  content: "\e036";
}
.neo-basic-push:before {
  content: "\e037";
}
.neo-basic-puzzle:before {
  content: "\e038";
}
.neo-basic-quaver:before {
  content: "\e039";
}
.neo-basic-question:before {
  content: "\e03a";
}
.neo-basic-quill:before {
  content: "\e03b";
}
.neo-basic-radar:before {
  content: "\e03c";
}
.neo-basic-radio:before {
  content: "\e03d";
}
.neo-basic-refresh:before {
  content: "\e03e";
}
.neo-basic-reload:before {
  content: "\e03f";
}
.neo-basic-remove:before {
  content: "\e040";
}
.neo-basic-ruler:before {
  content: "\e041";
}
.neo-basic-satellite:before {
  content: "\e042";
}
.neo-basic-school:before {
  content: "\e043";
}
.neo-basic-server:before {
  content: "\e044";
}
.neo-basic-settings:before {
  content: "\e045";
}
.neo-basic-share:before {
  content: "\e046";
}
.neo-basic-shield:before {
  content: "\e047";
}
.neo-basic-shop:before {
  content: "\e048";
}
.neo-basic-shopping:before {
  content: "\e049";
}
.neo-basic-shuffle:before {
  content: "\e04a";
}
.neo-basic-shutter:before {
  content: "\e04b";
}
.neo-basic-signal:before {
  content: "\e04c";
}
.neo-basic-sim:before {
  content: "\e04d";
}
.neo-basic-size:before {
  content: "\e04e";
}
.neo-basic-smartphone:before {
  content: "\e04f";
}
.neo-basic-sort:before {
  content: "\e050";
}
.neo-basic-star:before {
  content: "\e051";
}
.neo-basic-startup:before {
  content: "\e052";
}
.neo-basic-stop:before {
  content: "\e053";
}
.neo-basic-suitcase:before {
  content: "\e054";
}
.neo-basic-sun:before {
  content: "\e055";
}
.neo-basic-switch:before {
  content: "\e056";
}
.neo-basic-target:before {
  content: "\e057";
}
.neo-basic-telephone:before {
  content: "\e058";
}
.neo-basic-tick:before {
  content: "\e059";
}
.neo-basic-ticket:before {
  content: "\e05a";
}
.neo-basic-trash:before {
  content: "\e05b";
}
.neo-basic-trophy:before {
  content: "\e05c";
}
.neo-basic-type:before {
  content: "\e05d";
}
.neo-basic-umbrella:before {
  content: "\e05e";
}
.neo-basic-undo:before {
  content: "\e05f";
}
.neo-basic-unlock:before {
  content: "\e060";
}
.neo-basic-up:before {
  content: "\e061";
}
.neo-basic-upload:before {
  content: "\e062";
}
.neo-basic-usb:before {
  content: "\e063";
}
.neo-basic-user:before {
  content: "\e064";
}
.neo-basic-video:before {
  content: "\e065";
}
.neo-basic-visibility:before {
  content: "\e066";
}
.neo-basic-voice:before {
  content: "\e067";
}
.neo-basic-volume:before {
  content: "\e068";
}
.neo-basic-wall:before {
  content: "\e069";
}
.neo-basic-wallet:before {
  content: "\e06a";
}
.neo-basic-warning:before {
  content: "\e06b";
}
.neo-basic-watch:before {
  content: "\e06c";
}
.neo-basic-wheelchair:before {
  content: "\e06d";
}
.neo-basic-wifi:before {
  content: "\e06e";
}
.neo-basic-wine:before {
  content: "\e06f";
}
.neo-basic-woman:before {
  content: "\e070";
}
.neo-basic-worldwide:before {
  content: "\e071";
}
.neo-basic-yin:before {
  content: "\e072";
}
.neo-basic-zoom:before {
  content: "\e073";
}
.neo-socials-addthis:before {
  content: "\e074";
}
.neo-socials-amazon:before {
  content: "\e075";
}
.neo-socials-bebo:before {
  content: "\e076";
}
.neo-socials-behance:before {
  content: "\e077";
}
.neo-socials-bing:before {
  content: "\e078";
}
.neo-socials-blogger:before {
  content: "\e079";
}
.neo-socials-delicious:before {
  content: "\e07a";
}
.neo-socials-deviantart:before {
  content: "\e07b";
}
.neo-socials-digg:before {
  content: "\e07c";
}
.neo-socials-dribbble:before {
  content: "\e07d";
}
.neo-socials-dropbox:before {
  content: "\e07e";
}
.neo-socials-ebay:before {
  content: "\e07f";
}
.neo-socials-evernote:before {
  content: "\e080";
}
.neo-socials-facebook:before {
  content: "\e081";
}
.neo-socials-flickr:before {
  content: "\e082";
}
.neo-socials-forrst:before {
  content: "\e083";
}
.neo-socials-foursquare:before {
  content: "\e084";
}
.neo-socials-google:before {
  content: "\e085";
}
.neo-socials-grooveshark:before {
  content: "\e086";
}
.neo-socials-html:before {
  content: "\e087";
}
.neo-socials-instagram:before {
  content: "\e088";
}
.neo-socials-kickstarter:before {
  content: "\e089";
}
.neo-socials-lastfm:before {
  content: "\e08a";
}
.neo-socials-linkedin:before {
  content: "\e08b";
}
.neo-socials-livejournal:before {
  content: "\e08c";
}
.neo-socials-myspace:before {
  content: "\e08d";
}
.neo-socials-opera:before {
  content: "\e08e";
}
.neo-socials-paypal:before {
  content: "\e08f";
}
.neo-socials-picasa:before {
  content: "\e090";
}
.neo-socials-pinterest:before {
  content: "\e091";
}
.neo-socials-rss:before {
  content: "\e092";
}
.neo-socials-sharethis:before {
  content: "\e093";
}
.neo-socials-skype:before {
  content: "\e094";
}
.neo-socials-soundcloud:before {
  content: "\e095";
}
.neo-socials-stumbleupon:before {
  content: "\e096";
}
.neo-socials-technorati:before {
  content: "\e097";
}
.neo-socials-telegram:before {
  content: "\e098";
}
.neo-socials-tumblr:before {
  content: "\e099";
}
.neo-socials-twitter:before {
  content: "\e09a";
}
.neo-socials-viber:before {
  content: "\e09b";
}
.neo-socials-vimeo:before {
  content: "\e09c";
}
.neo-socials-vk:before {
  content: "\e09d";
}
.neo-socials-wikipedia:before {
  content: "\e09e";
}
.neo-socials-wordpress:before {
  content: "\e09f";
}
.neo-socials-xing:before {
  content: "\e0a0";
}
.neo-socials-yahoo:before {
  content: "\e0a1";
}
.neo-socials-yandex:before {
  content: "\e0a2";
}
.neo-socials-youtube:before {
  content: "\e0a3";
}
.neo-socials-zerply:before {
  content: "\e0a4";
}
.neo-dot:before {
  content: "\e0a5";
}
.neo-navigation-back:before {
  content: "\e0a6";
}
.neo-navigation-cancel:before {
  content: "\e0a7";
}
.neo-navigation-checked:before {
  content: "\e0a8";
}
.neo-navigation-close:before {
  content: "\e0a9";
}
.neo-navigation-down:before {
  content: "\e0aa";
}
.neo-navigation-fullscreen:before {
  content: "\e0ab";
}
.neo-navigation-left:before {
  content: "\e0ac";
}
.neo-navigation-menu:before {
  content: "\e0ad";
}
.neo-navigation-minimize:before {
  content: "\e0ae";
}
.neo-navigation-more:before {
  content: "\e0af";
}
.neo-navigation-next:before {
  content: "\e0b0";
}
.neo-navigation-refresh:before {
  content: "\e0b1";
}
.neo-navigation-right:before {
  content: "\e0b2";
}
.neo-navigation-up:before {
  content: "\e0b3";
}
.neo-navigation-unfold:before {
  content: "\e0b4";
}
.neo-navigation-skip:before {
  content: "\e0b5";
}
.neo-panel:before {
  content: "\e0b6";
}
.neo-refresh:before {
  content: "\e0b7";
}
.neo-security-on:before {
  content: "\e0b8";
}
.neo-solid:before {
  content: "\e0b9";
}
.neo-surface1:before {
  content: "\e0ba";
}
.neo-industrial-robot:before {
  content: "\e0bb";
}
.neo-menu:before {
  content: "\43";
}
.neo-menu-2:before {
  content: "\e0bc";
}
.neo-all-dots:before {
  content: "\e0bd";
}
.neo-blade:before {
  content: "\e0be";
}
.neo-circle:before {
  content: "\e0bf";
}
.neo-dots:before {
  content: "\e0c0";
}
.neo-line:before {
  content: "\e0c1";
}
.neo-loader:before {
  content: "\e0c2";
}
.neo-500px:before {
  content: "\e0c3";
}
.neo-adjust:before {
  content: "\e0c4";
}
.neo-adn:before {
  content: "\e0c5";
}
.neo-align-center:before {
  content: "\e0c6";
}
.neo-align-justify:before {
  content: "\e0c7";
}
.neo-align-left:before {
  content: "\e0c8";
}
.neo-align-right:before {
  content: "\e0c9";
}
.neo-amazon:before {
  content: "\e0ca";
}
.neo-ambulance:before {
  content: "\e0cb";
}
.neo-anchor:before {
  content: "\e0cc";
}
.neo-android:before {
  content: "\e0cd";
}
.neo-angellist:before {
  content: "\e0ce";
}
.neo-angle-double-down:before {
  content: "\e0cf";
}
.neo-angle-double-left:before {
  content: "\e0d0";
}
.neo-angle-double-right:before {
  content: "\e0d1";
}
.neo-angle-double-up:before {
  content: "\e0d2";
}
.neo-angle-down:before {
  content: "\e0d3";
}
.neo-angle-left:before {
  content: "\e0d4";
}
.neo-angle-right:before {
  content: "\e0d5";
}
.neo-angle-up:before {
  content: "\e0d6";
}
.neo-apple:before {
  content: "\e0d7";
}
.neo-archive:before {
  content: "\e0d8";
}
.neo-area-chart:before {
  content: "\e0d9";
}
.neo-arrow-circle-down:before {
  content: "\e0da";
}
.neo-arrow-circle-left:before {
  content: "\e0db";
}
.neo-arrow-circle-o-down:before {
  content: "\e0dc";
}
.neo-arrow-circle-o-left:before {
  content: "\e0dd";
}
.neo-arrow-circle-o-right:before {
  content: "\e0de";
}
.neo-arrow-circle-o-up:before {
  content: "\e0df";
}
.neo-arrow-circle-right:before {
  content: "\e0e0";
}
.neo-arrow-circle-up:before {
  content: "\e0e1";
}
.neo-arrow-down:before {
  content: "\e0e2";
}
.neo-arrow-left:before {
  content: "\e0e3";
}
.neo-arrow-right:before {
  content: "\e0e4";
}
.neo-arrow-up:before {
  content: "\e0e5";
}
.neo-arrows:before {
  content: "\e0e6";
}
.neo-arrows-alt:before {
  content: "\e0e7";
}
.neo-arrows-h:before {
  content: "\e0e8";
}
.neo-arrows-v:before {
  content: "\e0e9";
}
.neo-asterisk:before {
  content: "\e0ea";
}
.neo-at:before {
  content: "\e0eb";
}
.neo-backward:before {
  content: "\e0ec";
}
.neo-balance-scale:before {
  content: "\e0ed";
}
.neo-ban:before {
  content: "\e0ee";
}
.neo-bar-chart:before {
  content: "\e0ef";
}
.neo-barcode:before {
  content: "\e0f0";
}
.neo-bars:before {
  content: "\e0f1";
}
.neo-battery-empty:before {
  content: "\e0f2";
}
.neo-battery-full:before {
  content: "\e0f3";
}
.neo-battery-half:before {
  content: "\e0f4";
}
.neo-battery-quarter:before {
  content: "\e0f5";
}
.neo-battery-three-quarters:before {
  content: "\e0f6";
}
.neo-bed:before {
  content: "\e0f7";
}
.neo-beer:before {
  content: "\e0f8";
}
.neo-behance:before {
  content: "\e0f9";
}
.neo-behance-square:before {
  content: "\e0fa";
}
.neo-bell:before {
  content: "\e0fb";
}
.neo-bell-o:before {
  content: "\e0fc";
}
.neo-bell-slash:before {
  content: "\e0fd";
}
.neo-bell-slash-o:before {
  content: "\e0fe";
}
.neo-bicycle:before {
  content: "\e0ff";
}
.neo-binoculars:before {
  content: "\e100";
}
.neo-birthday-cake:before {
  content: "\e101";
}
.neo-bitbucket:before {
  content: "\e102";
}
.neo-bitbucket-square:before {
  content: "\e103";
}
.neo-black-tie:before {
  content: "\e104";
}
.neo-bold:before {
  content: "\e105";
}
.neo-bolt:before {
  content: "\e106";
}
.neo-bomb:before {
  content: "\e107";
}
.neo-book:before {
  content: "\e108";
}
.neo-bookmark:before {
  content: "\e109";
}
.neo-bookmark-o:before {
  content: "\e10a";
}
.neo-briefcase:before {
  content: "\e10b";
}
.neo-btc:before {
  content: "\e10c";
}
.neo-bug:before {
  content: "\e10d";
}
.neo-building:before {
  content: "\e10e";
}
.neo-building-o:before {
  content: "\e10f";
}
.neo-bullhorn:before {
  content: "\e110";
}
.neo-bullseye:before {
  content: "\e111";
}
.neo-bus:before {
  content: "\e112";
}
.neo-buysellads:before {
  content: "\e113";
}
.neo-calculator:before {
  content: "\e114";
}
.neo-calendar:before {
  content: "\e115";
}
.neo-calendar-check-o:before {
  content: "\e116";
}
.neo-calendar-minus-o:before {
  content: "\e117";
}
.neo-calendar-o:before {
  content: "\e118";
}
.neo-calendar-plus-o:before {
  content: "\e119";
}
.neo-calendar-times-o:before {
  content: "\e11a";
}
.neo-camera:before {
  content: "\e11b";
}
.neo-camera-retro:before {
  content: "\e11c";
}
.neo-car:before {
  content: "\e11d";
}
.neo-caret-down:before {
  content: "\e11e";
}
.neo-caret-left:before {
  content: "\e11f";
}
.neo-caret-right:before {
  content: "\e120";
}
.neo-caret-square-o-down:before {
  content: "\e121";
}
.neo-caret-square-o-left:before {
  content: "\e122";
}
.neo-caret-square-o-right:before {
  content: "\e123";
}
.neo-caret-square-o-up:before {
  content: "\e124";
}
.neo-caret-up:before {
  content: "\e125";
}
.neo-cart-arrow-down:before {
  content: "\e126";
}
.neo-cart-plus:before {
  content: "\e127";
}
.neo-cc:before {
  content: "\e128";
}
.neo-cc-amex:before {
  content: "\e129";
}
.neo-cc-diners-club:before {
  content: "\e12a";
}
.neo-cc-discover:before {
  content: "\e12b";
}
.neo-cc-jcb:before {
  content: "\e12c";
}
.neo-cc-mastercard:before {
  content: "\e12d";
}
.neo-cc-paypal:before {
  content: "\e12e";
}
.neo-cc-stripe:before {
  content: "\e12f";
}
.neo-cc-visa:before {
  content: "\e130";
}
.neo-certificate:before {
  content: "\e131";
}
.neo-chain-broken:before {
  content: "\e132";
}
.neo-check:before {
  content: "\e133";
}
.neo-check-circle:before {
  content: "\e134";
}
.neo-check-circle-o:before {
  content: "\e135";
}
.neo-check-square:before {
  content: "\e136";
}
.neo-check-square-o:before {
  content: "\e137";
}
.neo-chevron-circle-down:before {
  content: "\e138";
}
.neo-chevron-circle-left:before {
  content: "\e139";
}
.neo-chevron-circle-right:before {
  content: "\e13a";
}
.neo-chevron-circle-up:before {
  content: "\e13b";
}
.neo-chevron-down:before {
  content: "\e13c";
}
.neo-chevron-left:before {
  content: "\e13d";
}
.neo-chevron-right:before {
  content: "\e13e";
}
.neo-chevron-up:before {
  content: "\e13f";
}
.neo-child:before {
  content: "\e140";
}
.neo-chrome:before {
  content: "\e141";
}
.neo-circle-1:before {
  content: "\e142";
}
.neo-circle-o:before {
  content: "\e143";
}
.neo-circle-o-notch:before {
  content: "\e144";
}
.neo-circle-thin:before {
  content: "\e145";
}
.neo-clipboard:before {
  content: "\e146";
}
.neo-clock-o:before {
  content: "\e147";
}
.neo-clone:before {
  content: "\e148";
}
.neo-cloud:before {
  content: "\e149";
}
.neo-cloud-download:before {
  content: "\e14a";
}
.neo-cloud-upload:before {
  content: "\e14b";
}
.neo-code:before {
  content: "\e14c";
}
.neo-code-fork:before {
  content: "\e14d";
}
.neo-codepen:before {
  content: "\e14e";
}
.neo-coffee:before {
  content: "\e14f";
}
.neo-cog:before {
  content: "\e150";
}
.neo-cogs:before {
  content: "\e151";
}
.neo-columns:before {
  content: "\e152";
}
.neo-comment:before {
  content: "\e153";
}
.neo-comment-o:before {
  content: "\e154";
}
.neo-commenting:before {
  content: "\e155";
}
.neo-commenting-o:before {
  content: "\e156";
}
.neo-comments:before {
  content: "\e157";
}
.neo-comments-o:before {
  content: "\e158";
}
.neo-compass:before {
  content: "\e159";
}
.neo-compress:before {
  content: "\e15a";
}
.neo-connectdevelop:before {
  content: "\e15b";
}
.neo-contao:before {
  content: "\e15c";
}
.neo-copyright:before {
  content: "\e15d";
}
.neo-creative-commons:before {
  content: "\e15e";
}
.neo-credit-card:before {
  content: "\e15f";
}
.neo-crop:before {
  content: "\e160";
}
.neo-crosshairs:before {
  content: "\e161";
}
.neo-css3:before {
  content: "\e162";
}
.neo-cube:before {
  content: "\e163";
}
.neo-cubes:before {
  content: "\e164";
}
.neo-cutlery:before {
  content: "\e165";
}
.neo-dashcube:before {
  content: "\e166";
}
.neo-database:before {
  content: "\e167";
}
.neo-delicious:before {
  content: "\e168";
}
.neo-desktop:before {
  content: "\e169";
}
.neo-deviantart:before {
  content: "\e16a";
}
.neo-diamond:before {
  content: "\e16b";
}
.neo-digg:before {
  content: "\e16c";
}
.neo-dot-circle-o:before {
  content: "\e16d";
}
.neo-download:before {
  content: "\e16e";
}
.neo-dribbble:before {
  content: "\e16f";
}
.neo-dropbox:before {
  content: "\e170";
}
.neo-drupal:before {
  content: "\e171";
}
.neo-eject:before {
  content: "\e172";
}
.neo-ellipsis-h:before {
  content: "\e173";
}
.neo-ellipsis-v:before {
  content: "\e174";
}
.neo-empire:before {
  content: "\e175";
}
.neo-envelope:before {
  content: "\e176";
}
.neo-envelope-o:before {
  content: "\e177";
}
.neo-envelope-square:before {
  content: "\e178";
}
.neo-eraser:before {
  content: "\e179";
}
.neo-eur:before {
  content: "\e17a";
}
.neo-exchange:before {
  content: "\e17b";
}
.neo-exclamation:before {
  content: "\e17c";
}
.neo-exclamation-circle:before {
  content: "\e17d";
}
.neo-exclamation-triangle:before {
  content: "\e17e";
}
.neo-expand:before {
  content: "\e17f";
}
.neo-expeditedssl:before {
  content: "\e180";
}
.neo-external-link:before {
  content: "\e181";
}
.neo-external-link-square:before {
  content: "\e182";
}
.neo-eye:before {
  content: "\e183";
}
.neo-eye-slash:before {
  content: "\e184";
}
.neo-eyedropper:before {
  content: "\e185";
}
.neo-facebook:before {
  content: "\e186";
}
.neo-facebook-official:before {
  content: "\e187";
}
.neo-facebook-square:before {
  content: "\e188";
}
.neo-fast-backward:before {
  content: "\e189";
}
.neo-fast-forward:before {
  content: "\e18a";
}
.neo-fax:before {
  content: "\e18b";
}
.neo-female:before {
  content: "\e18c";
}
.neo-fighter-jet:before {
  content: "\e18d";
}
.neo-file:before {
  content: "\e18e";
}
.neo-file-archive-o:before {
  content: "\e18f";
}
.neo-file-audio-o:before {
  content: "\e190";
}
.neo-file-code-o:before {
  content: "\e191";
}
.neo-file-excel-o:before {
  content: "\e192";
}
.neo-file-image-o:before {
  content: "\e193";
}
.neo-file-o:before {
  content: "\e194";
}
.neo-file-pdf-o:before {
  content: "\e195";
}
.neo-file-powerpoint-o:before {
  content: "\e196";
}
.neo-file-text:before {
  content: "\e197";
}
.neo-file-text-o:before {
  content: "\e198";
}
.neo-file-video-o:before {
  content: "\e199";
}
.neo-file-word-o:before {
  content: "\e19a";
}
.neo-files-o:before {
  content: "\e19b";
}
.neo-film:before {
  content: "\e19c";
}
.neo-filter:before {
  content: "\e19d";
}
.neo-fire:before {
  content: "\e19e";
}
.neo-fire-extinguisher:before {
  content: "\e19f";
}
.neo-firefox:before {
  content: "\e1a0";
}
.neo-flag:before {
  content: "\e1a1";
}
.neo-flag-checkered:before {
  content: "\e1a2";
}
.neo-flag-o:before {
  content: "\e1a3";
}
.neo-flask:before {
  content: "\e1a4";
}
.neo-flickr:before {
  content: "\e1a5";
}
.neo-floppy-o:before {
  content: "\e1a6";
}
.neo-folder:before {
  content: "\e1a7";
}
.neo-folder-o:before {
  content: "\e1a8";
}
.neo-folder-open:before {
  content: "\e1a9";
}
.neo-folder-open-o:before {
  content: "\e1aa";
}
.neo-font:before {
  content: "\e1ab";
}
.neo-fonticons:before {
  content: "\e1ac";
}
.neo-forumbee:before {
  content: "\e1ad";
}
.neo-forward:before {
  content: "\e1ae";
}
.neo-foursquare:before {
  content: "\e1af";
}
.neo-frown-o:before {
  content: "\e1b0";
}
.neo-futbol-o:before {
  content: "\e1b1";
}
.neo-gamepad:before {
  content: "\e1b2";
}
.neo-gavel:before {
  content: "\e1b3";
}
.neo-gbp:before {
  content: "\e1b4";
}
.neo-genderless:before {
  content: "\e1b5";
}
.neo-get-pocket:before {
  content: "\e1b6";
}
.neo-gg:before {
  content: "\e1b7";
}
.neo-gg-circle:before {
  content: "\e1b8";
}
.neo-gift:before {
  content: "\e1b9";
}
.neo-git:before {
  content: "\e1ba";
}
.neo-git-square:before {
  content: "\e1bb";
}
.neo-github:before {
  content: "\e1bc";
}
.neo-github-alt:before {
  content: "\e1bd";
}
.neo-github-square:before {
  content: "\e1be";
}
.neo-glass:before {
  content: "\e1bf";
}
.neo-globe:before {
  content: "\e1c0";
}
.neo-google:before {
  content: "\e1c1";
}
.neo-google-plus:before {
  content: "\e1c2";
}
.neo-google-plus-square:before {
  content: "\e1c3";
}
.neo-google-wallet:before {
  content: "\e1c4";
}
.neo-graduation-cap:before {
  content: "\e1c5";
}
.neo-gratipay:before {
  content: "\e1c6";
}
.neo-h-square:before {
  content: "\e1c7";
}
.neo-hacker-news:before {
  content: "\e1c8";
}
.neo-hand-lizard-o:before {
  content: "\e1c9";
}
.neo-hand-o-down:before {
  content: "\e1ca";
}
.neo-hand-o-left:before {
  content: "\e1cb";
}
.neo-hand-o-right:before {
  content: "\e1cc";
}
.neo-hand-o-up:before {
  content: "\e1cd";
}
.neo-hand-paper-o:before {
  content: "\e1ce";
}
.neo-hand-peace-o:before {
  content: "\e1cf";
}
.neo-hand-pointer-o:before {
  content: "\e1d0";
}
.neo-hand-rock-o:before {
  content: "\e1d1";
}
.neo-hand-scissors-o:before {
  content: "\e1d2";
}
.neo-hand-spock-o:before {
  content: "\e1d3";
}
.neo-hdd-o:before {
  content: "\e1d4";
}
.neo-header:before {
  content: "\e1d5";
}
.neo-headphones:before {
  content: "\e1d6";
}
.neo-heart:before {
  content: "\e1d7";
}
.neo-heart-o:before {
  content: "\e1d8";
}
.neo-heartbeat:before {
  content: "\e1d9";
}
.neo-history:before {
  content: "\e1da";
}
.neo-home-1:before {
  content: "\e1db";
}
.neo-hospital-o:before {
  content: "\e1dc";
}
.neo-hourglass:before {
  content: "\e1dd";
}
.neo-hourglass-end:before {
  content: "\e1de";
}
.neo-hourglass-half:before {
  content: "\e1df";
}
.neo-hourglass-o:before {
  content: "\e1e0";
}
.neo-hourglass-start:before {
  content: "\e1e1";
}
.neo-houzz:before {
  content: "\e1e2";
}
.neo-html5:before {
  content: "\e1e3";
}
.neo-i-cursor:before {
  content: "\e1e4";
}
.neo-ils:before {
  content: "\e1e5";
}
.neo-inbox:before {
  content: "\e1e6";
}
.neo-indent:before {
  content: "\e1e7";
}
.neo-industry:before {
  content: "\e1e8";
}
.neo-info:before {
  content: "\e1e9";
}
.neo-info-circle:before {
  content: "\e1ea";
}
.neo-inr:before {
  content: "\e1eb";
}
.neo-instagram:before {
  content: "\e1ec";
}
.neo-internet-explorer:before {
  content: "\e1ed";
}
.neo-ioxhost:before {
  content: "\e1ee";
}
.neo-italic:before {
  content: "\e1ef";
}
.neo-joomla:before {
  content: "\e1f0";
}
.neo-jpy:before {
  content: "\e1f1";
}
.neo-jsfiddle:before {
  content: "\e1f2";
}
.neo-key:before {
  content: "\e1f3";
}
.neo-keyboard-o:before {
  content: "\e1f4";
}
.neo-krw:before {
  content: "\e1f5";
}
.neo-language:before {
  content: "\e1f6";
}
.neo-laptop:before {
  content: "\e1f7";
}
.neo-lastfm:before {
  content: "\e1f8";
}
.neo-lastfm-square:before {
  content: "\e1f9";
}
.neo-leaf:before {
  content: "\e1fa";
}
.neo-leanpub:before {
  content: "\e1fb";
}
.neo-lemon-o:before {
  content: "\e1fc";
}
.neo-level-down:before {
  content: "\e1fd";
}
.neo-level-up:before {
  content: "\e1fe";
}
.neo-life-ring:before {
  content: "\e1ff";
}
.neo-lightbulb-o:before {
  content: "\e200";
}
.neo-line-chart:before {
  content: "\e201";
}
.neo-link:before {
  content: "\e202";
}
.neo-linkedin:before {
  content: "\e203";
}
.neo-linkedin-square:before {
  content: "\e204";
}
.neo-linux:before {
  content: "\e205";
}
.neo-list:before {
  content: "\e206";
}
.neo-list-alt:before {
  content: "\e207";
}
.neo-list-ol:before {
  content: "\e208";
}
.neo-list-ul:before {
  content: "\e209";
}
.neo-location-arrow:before {
  content: "\e20a";
}
.neo-lock:before {
  content: "\e20b";
}
.neo-long-arrow-down:before {
  content: "\e20c";
}
.neo-long-arrow-left:before {
  content: "\e20d";
}
.neo-long-arrow-right:before {
  content: "\e20e";
}
.neo-long-arrow-up:before {
  content: "\e20f";
}
.neo-magic:before {
  content: "\e210";
}
.neo-magnet:before {
  content: "\e211";
}
.neo-male:before {
  content: "\e212";
}
.neo-map:before {
  content: "\e213";
}
.neo-map-marker:before {
  content: "\e214";
}
.neo-map-o:before {
  content: "\e215";
}
.neo-map-pin:before {
  content: "\e216";
}
.neo-map-signs:before {
  content: "\e217";
}
.neo-mars:before {
  content: "\e218";
}
.neo-mars-double:before {
  content: "\e219";
}
.neo-mars-stroke:before {
  content: "\e21a";
}
.neo-mars-stroke-h:before {
  content: "\e21b";
}
.neo-mars-stroke-v:before {
  content: "\e21c";
}
.neo-maxcdn:before {
  content: "\e21d";
}
.neo-meanpath:before {
  content: "\e21e";
}
.neo-medium:before {
  content: "\e21f";
}
.neo-medkit:before {
  content: "\e220";
}
.neo-meh-o:before {
  content: "\e221";
}
.neo-mercury:before {
  content: "\e222";
}
.neo-microphone:before {
  content: "\e223";
}
.neo-microphone-slash:before {
  content: "\e224";
}
.neo-minus:before {
  content: "\e225";
}
.neo-minus-circle:before {
  content: "\e226";
}
.neo-minus-square:before {
  content: "\e227";
}
.neo-minus-square-o:before {
  content: "\e228";
}
.neo-mobile:before {
  content: "\e229";
}
.neo-money:before {
  content: "\e22a";
}
.neo-moon-o:before {
  content: "\e22b";
}
.neo-motorcycle:before {
  content: "\e22c";
}
.neo-mouse-pointer:before {
  content: "\e22d";
}
.neo-music:before {
  content: "\e22e";
}
.neo-neuter:before {
  content: "\e22f";
}
.neo-newspaper-o:before {
  content: "\e230";
}
.neo-object-group:before {
  content: "\e231";
}
.neo-object-ungroup:before {
  content: "\e232";
}
.neo-odnoklassniki:before {
  content: "\e233";
}
.neo-odnoklassniki-square:before {
  content: "\e234";
}
.neo-opencart:before {
  content: "\e235";
}
.neo-openid:before {
  content: "\e236";
}
.neo-opera:before {
  content: "\e237";
}
.neo-optin-monster:before {
  content: "\e238";
}
.neo-outdent:before {
  content: "\e239";
}
.neo-pagelines:before {
  content: "\e23a";
}
.neo-paint-brush:before {
  content: "\e23b";
}
.neo-paper-plane:before {
  content: "\e23c";
}
.neo-paper-plane-o:before {
  content: "\e23d";
}
.neo-paperclip:before {
  content: "\e23e";
}
.neo-paragraph:before {
  content: "\e23f";
}
.neo-pause:before {
  content: "\e240";
}
.neo-paw:before {
  content: "\e241";
}
.neo-paypal:before {
  content: "\e242";
}
.neo-pencil:before {
  content: "\e243";
}
.neo-pencil-square:before {
  content: "\e244";
}
.neo-pencil-square-o:before {
  content: "\e245";
}
.neo-phone:before {
  content: "\e246";
}
.neo-phone-square:before {
  content: "\e247";
}
.neo-picture-o:before {
  content: "\e248";
}
.neo-pie-chart:before {
  content: "\e249";
}
.neo-pied-piper:before {
  content: "\e24a";
}
.neo-pied-piper-alt:before {
  content: "\e24b";
}
.neo-pinterest:before {
  content: "\e24c";
}
.neo-pinterest-p:before {
  content: "\e24d";
}
.neo-pinterest-square:before {
  content: "\e24e";
}
.neo-plane:before {
  content: "\e24f";
}
.neo-play:before {
  content: "\e250";
}
.neo-play-circle:before {
  content: "\e251";
}
.neo-play-circle-o:before {
  content: "\e252";
}
.neo-plug:before {
  content: "\e253";
}
.neo-plus:before {
  content: "\e254";
}
.neo-plus-circle:before {
  content: "\e255";
}
.neo-plus-square:before {
  content: "\e256";
}
.neo-plus-square-o:before {
  content: "\e257";
}
.neo-power-off:before {
  content: "\e258";
}
.neo-print:before {
  content: "\e259";
}
.neo-puzzle-piece:before {
  content: "\e25a";
}
.neo-qq:before {
  content: "\e25b";
}
.neo-qrcode:before {
  content: "\e25c";
}
.neo-question:before {
  content: "\e25d";
}
.neo-question-circle:before {
  content: "\e25e";
}
.neo-quote-left:before {
  content: "\e25f";
}
.neo-quote-right:before {
  content: "\e260";
}
.neo-random:before {
  content: "\e261";
}
.neo-rebel:before {
  content: "\e262";
}
.neo-recycle:before {
  content: "\e263";
}
.neo-reddit:before {
  content: "\e264";
}
.neo-reddit-square:before {
  content: "\e265";
}
.neo-refresh-1:before {
  content: "\e266";
}
.neo-registered:before {
  content: "\e267";
}
.neo-renren:before {
  content: "\e268";
}
.neo-repeat:before {
  content: "\e269";
}
.neo-reply:before {
  content: "\e26a";
}
.neo-reply-all:before {
  content: "\e26b";
}
.neo-retweet:before {
  content: "\e26c";
}
.neo-road:before {
  content: "\e26d";
}
.neo-rocket:before {
  content: "\e26e";
}
.neo-rss:before {
  content: "\e26f";
}
.neo-rss-square:before {
  content: "\e270";
}
.neo-rub:before {
  content: "\e271";
}
.neo-safari:before {
  content: "\e272";
}
.neo-scissors:before {
  content: "\e273";
}
.neo-search:before {
  content: "\e274";
}
.neo-search-minus:before {
  content: "\e275";
}
.neo-search-plus:before {
  content: "\e276";
}
.neo-sellsy:before {
  content: "\e277";
}
.neo-server:before {
  content: "\e278";
}
.neo-share:before {
  content: "\e279";
}
.neo-share-alt:before {
  content: "\e27a";
}
.neo-share-alt-square:before {
  content: "\e27b";
}
.neo-share-square:before {
  content: "\e27c";
}
.neo-share-square-o:before {
  content: "\e27d";
}
.neo-shield:before {
  content: "\e27e";
}
.neo-ship:before {
  content: "\e27f";
}
.neo-shirtsinbulk:before {
  content: "\e280";
}
.neo-shopping-cart:before {
  content: "\e281";
}
.neo-sign-in:before {
  content: "\e282";
}
.neo-sign-out:before {
  content: "\e283";
}
.neo-signal:before {
  content: "\e284";
}
.neo-simplybuilt:before {
  content: "\e285";
}
.neo-sitemap:before {
  content: "\e286";
}
.neo-skyatlas:before {
  content: "\e287";
}
.neo-skype:before {
  content: "\e288";
}
.neo-slack:before {
  content: "\e289";
}
.neo-sliders:before {
  content: "\e28a";
}
.neo-slideshare:before {
  content: "\e28b";
}
.neo-smile-o:before {
  content: "\e28c";
}
.neo-sort:before {
  content: "\e28d";
}
.neo-sort-alpha-asc:before {
  content: "\e28e";
}
.neo-sort-alpha-desc:before {
  content: "\e28f";
}
.neo-sort-amount-asc:before {
  content: "\e290";
}
.neo-sort-amount-desc:before {
  content: "\e291";
}
.neo-sort-asc:before {
  content: "\e292";
}
.neo-sort-desc:before {
  content: "\e293";
}
.neo-sort-numeric-asc:before {
  content: "\e294";
}
.neo-sort-numeric-desc:before {
  content: "\e295";
}
.neo-soundcloud:before {
  content: "\e296";
}
.neo-space-shuttle:before {
  content: "\e297";
}
.neo-spinner:before {
  content: "\e298";
}
.neo-spoon:before {
  content: "\e299";
}
.neo-spotify:before {
  content: "\e29a";
}
.neo-square:before {
  content: "\e29b";
}
.neo-square-o:before {
  content: "\e29c";
}
.neo-stack-exchange:before {
  content: "\e29d";
}
.neo-stack-overflow:before {
  content: "\e29e";
}
.neo-star:before {
  content: "\e29f";
}
.neo-star-half:before {
  content: "\e2a0";
}
.neo-star-half-o:before {
  content: "\e2a1";
}
.neo-star-o:before {
  content: "\e2a2";
}
.neo-steam:before {
  content: "\e2a3";
}
.neo-steam-square:before {
  content: "\e2a4";
}
.neo-step-backward:before {
  content: "\e2a5";
}
.neo-step-forward:before {
  content: "\e2a6";
}
.neo-stethoscope:before {
  content: "\e2a7";
}
.neo-sticky-note:before {
  content: "\e2a8";
}
.neo-sticky-note-o:before {
  content: "\e2a9";
}
.neo-stop:before {
  content: "\e2aa";
}
.neo-street-view:before {
  content: "\e2ab";
}
.neo-strikethrough:before {
  content: "\e2ac";
}
.neo-stumbleupon:before {
  content: "\e2ad";
}
.neo-stumbleupon-circle:before {
  content: "\e2ae";
}
.neo-subscript:before {
  content: "\e2af";
}
.neo-subway:before {
  content: "\e2b0";
}
.neo-suitcase:before {
  content: "\e2b1";
}
.neo-sun-o:before {
  content: "\e2b2";
}
.neo-superscript:before {
  content: "\e2b3";
}
.neo-table:before {
  content: "\e2b4";
}
.neo-tablet:before {
  content: "\e2b5";
}
.neo-tachometer:before {
  content: "\e2b6";
}
.neo-tag:before {
  content: "\e2b7";
}
.neo-tags:before {
  content: "\e2b8";
}
.neo-tasks:before {
  content: "\e2b9";
}
.neo-taxi:before {
  content: "\e2ba";
}
.neo-television:before {
  content: "\e2bb";
}
.neo-tencent-weibo:before {
  content: "\e2bc";
}
.neo-terminal:before {
  content: "\e2bd";
}
.neo-text-height:before {
  content: "\e2be";
}
.neo-text-width:before {
  content: "\e2bf";
}
.neo-th:before {
  content: "\e2c0";
}
.neo-th-large:before {
  content: "\e2c1";
}
.neo-th-list:before {
  content: "\e2c2";
}
.neo-thumb-tack:before {
  content: "\e2c3";
}
.neo-thumbs-down:before {
  content: "\e2c4";
}
.neo-thumbs-o-down:before {
  content: "\e2c5";
}
.neo-thumbs-o-up:before {
  content: "\e2c6";
}
.neo-thumbs-up:before {
  content: "\e2c7";
}
.neo-ticket:before {
  content: "\e2c8";
}
.neo-times:before {
  content: "\e2c9";
}
.neo-times-circle:before {
  content: "\e2ca";
}
.neo-times-circle-o:before {
  content: "\e2cb";
}
.neo-tint:before {
  content: "\e2cc";
}
.neo-toggle-off:before {
  content: "\e2cd";
}
.neo-toggle-on:before {
  content: "\e2ce";
}
.neo-trademark:before {
  content: "\e2cf";
}
.neo-train:before {
  content: "\e2d0";
}
.neo-transgender:before {
  content: "\e2d1";
}
.neo-transgender-alt:before {
  content: "\e2d2";
}
.neo-trash:before {
  content: "\e2d3";
}
.neo-trash-o:before {
  content: "\e2d4";
}
.neo-tree:before {
  content: "\e2d5";
}
.neo-trello:before {
  content: "\e2d6";
}
.neo-tripadvisor:before {
  content: "\e2d7";
}
.neo-trophy:before {
  content: "\e2d8";
}
.neo-truck:before {
  content: "\e2d9";
}
.neo-try:before {
  content: "\e2da";
}
.neo-tty:before {
  content: "\e2db";
}
.neo-tumblr:before {
  content: "\e2dc";
}
.neo-tumblr-square:before {
  content: "\e2dd";
}
.neo-twitch:before {
  content: "\e2de";
}
.neo-twitter:before {
  content: "\e2df";
}
.neo-twitter-square:before {
  content: "\e2e0";
}
.neo-umbrella:before {
  content: "\e2e1";
}
.neo-underline:before {
  content: "\e2e2";
}
.neo-undo:before {
  content: "\e2e3";
}
.neo-university:before {
  content: "\e2e4";
}
.neo-unlock:before {
  content: "\e2e5";
}
.neo-unlock-alt:before {
  content: "\e2e6";
}
.neo-upload:before {
  content: "\e2e7";
}
.neo-usd:before {
  content: "\e2e8";
}
.neo-user:before {
  content: "\e2e9";
}
.neo-user-md:before {
  content: "\e2ea";
}
.neo-user-plus:before {
  content: "\e2eb";
}
.neo-user-secret:before {
  content: "\e2ec";
}
.neo-user-times:before {
  content: "\e2ed";
}
.neo-users:before {
  content: "\e2ee";
}
.neo-venus:before {
  content: "\e2ef";
}
.neo-venus-double:before {
  content: "\e2f0";
}
.neo-venus-mars:before {
  content: "\e2f1";
}
.neo-viacoin:before {
  content: "\e2f2";
}
.neo-video-camera:before {
  content: "\e2f3";
}
.neo-vimeo:before {
  content: "\e2f4";
}
.neo-vimeo-square:before {
  content: "\e2f5";
}
.neo-vine:before {
  content: "\e2f6";
}
.neo-vk:before {
  content: "\e2f7";
}
.neo-volume-down:before {
  content: "\e2f8";
}
.neo-volume-off:before {
  content: "\e2f9";
}
.neo-volume-up:before {
  content: "\e2fa";
}
.neo-weibo:before {
  content: "\e2fb";
}
.neo-weixin:before {
  content: "\e2fc";
}
.neo-whatsapp:before {
  content: "\e2fd";
}
.neo-wheelchair:before {
  content: "\e2fe";
}
.neo-wifi:before {
  content: "\e2ff";
}
.neo-wikipedia-w:before {
  content: "\e300";
}
.neo-windows:before {
  content: "\e301";
}
.neo-wordpress:before {
  content: "\e302";
}
.neo-wrench:before {
  content: "\e303";
}
.neo-xing:before {
  content: "\e304";
}
.neo-xing-square:before {
  content: "\e305";
}
.neo-y-combinator:before {
  content: "\e306";
}
.neo-yahoo:before {
  content: "\e307";
}
.neo-yelp:before {
  content: "\e308";
}
.neo-youtube:before {
  content: "\e309";
}
.neo-youtube-play:before {
  content: "\e30a";
}
.neo-youtube-square:before {
  content: "\e30b";
}
